@import url("//mem.soozanchi.ir/assets/fonts/font.css");
html,body{
  font-family: vazir,tahoma !important;
 
}
.message .body {
 background:#fdfdfd;
 border-radius:5px;
 overflow:hidden;
 position:relative;
}
.joined .body .text{
  padding: 25px 10px 5px 10px  ;
}

.joined .pull_right.date{
  display: block;
  width: 100%;
}
.body .text {
 direction:rtl;
    font-size:14px;
  padding:5px 10px;
  
}
.body .media_wrap,
.body .text,
.body .forwarded,
.signature.details {
 /*! margin-top:10px; */
}
.pull_right.date.details:before {
 content:attr(title);
 display:inline-block;
 white-space:nowrap;
 position:absolute;
 right:5px;
 color:#000;
}
.from_name,
.pull_right.date.details,
.signature.details {
 background:#f0f0f0;
}
.default .from_name {
 padding:0;
}
.pull_right.date.details {
 color:#f0f0f0;
}
.forwarded.body {
 background:#f8f8f8;
 border-radius:5px;
 padding:2px 5px;
}
.forwarded.body .from_name {
 position:relative;
}
.forwarded.body .details {
 position:absolute;
 right:0;
 color:#000;
}

.default .reply_to, .default .media_wrap{
  padding:  0;
}

.photo{
  width: 95% !important;
  height: auto !important;
  margin: 10px auto;
}